@media screen and (max-width: 425px) {
  .btn {
    width: 60%;
    margin: 2px;
  }
}
.col.p-4 {
  background-image: url("https://c4.wallpaperflare.com/wallpaper/370/608/909/background-earth-continents-world-map-hd-wallpaper-preview.jpg");
  width: 100%;
  height: 100%;
}
.mb-auto {
  color: white;
}
.mb-0 {
  color: blue;
}
.col.p-4.d-flex.flex-column.position-static {
  height: 238px;
}
@media screen and (max-width: 615px) {
  .btn {
    width: 60%;
    margin: 2px;
  }
}
p.fs-5.mb-4 {
  text-align: justify;
}
