/* @media screen and (min-width: 768px) and (max-width: 1440px) {
  .img-fluid.border {
    display: block;
    width: 70%;
  }
} */

@media screen and (max-width: 1440px) {
  .img-fluid.border {
    height: 111px;
  }
}
.lead {
  text-align: justify;
}
